<rd-header>
  <rd-header-title title-text="About"> </rd-header-title>
  <rd-header-content>
    About lighterDOCK & lighter-Portainer
  </rd-header-content>
</rd-header>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-body>
        <b>lighterDOCK</b> is a <a href="https://github.com/constantine3/lighterDOCK/blob/master/LICENSE" target="_blank">free and open-source software</a> based on Docker brought to you with
        <span class="menu-icon fa fa-heart red-icon"></span> by <a href="https://github.com/Constantine3" target="_blank">Constantine3</a> and
        <a href="https://github.com/saafo" target="_blank">Saafo.</a>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-body>
        <b>lighter-Portainer</b> is a <a href="https://github.com/saafo/lighter-portainer/blob/master/LICENSE" target="_blank">free and open-source software</a> based on Portainer brought to you with
        <span class="menu-icon fa fa-heart red-icon"></span> by <a href="https://github.com/saafo" target="_blank">Saafo</a> and
        <a href="https://github.com/Constantine3" target="_blank">Constantine3.</a>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-body>
        <b>Portainer</b> is a <a href="https://github.com/portainer/portainer/blob/develop/LICENSE" target="_blank">free and open-source software</a> brought to you with
        <span class="menu-icon fa fa-heart red-icon"></span> by <a href="https://portainer.io/" target="_blank">portainer.io</a> and
        <a href="https://github.com/portainer/portainer/graphs/contributors" target="_blank">contributors.</a>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-header title-text="Limitations" icon="fa-plug"></rd-widget-header>
      <rd-widget-body>
        <div class="small">
          lighter-Portainer has full support for lighterDOCK and partial support for Docker (some features may not be available, like registry or pull).
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
