<rd-header>
  <rd-header-title title-text="Image list">
    <a data-toggle="tooltip" title="Refresh" ui-sref="docker.images" ui-sref-opts="{reload: true}">
      <i class="fa fa-sync" aria-hidden="true"></i>
    </a>
  </rd-header-title>
  <rd-header-content>Images</rd-header-content>
</rd-header>


<information-panel-offline ng-if="offlineMode"></information-panel-offline>
<div class="row">
  <div class="col-sm-12">
    <images-datatable
      title-text="Images"
      title-icon="fa-clone"
      dataset="images"
      table-key="images"
      order-by="RepoTags"
      show-host-column="applicationState.endpoint.mode.agentProxy && applicationState.endpoint.mode.provider === 'DOCKER_SWARM_MODE'"
      download-action="downloadAction"
      remove-action="removeAction"
      force-remove-action="confirmRemovalAction"
      export-in-progress="state.exportInProgress"
      offline-mode="offlineMode"
      refresh-callback="getImages"
    ></images-datatable>
  </div>
</div>
